# 자료구조란

-   **여러 개의 값들을 모아서 관리**하는 데이터 타입.
    -   한 개의 변수는 한 개의 값 밖에는 가지지 못한다. 그러나 하나의 변수로 여러 개의 값 관리해야 할 경우가 있다.
    -   하나의 값이 여러개의 값들로 구성된 경우
        -   한명의 고객 정보의 경우 이름, 나이, 주소, 전화번호 등 여러개의 값이 모여서 하나의 값이 된다.
        -   한 반의 학생들의 이름들은 여러개의 이름들로 구성된다.
-   파이썬은 데이터를 모으는 방식에 따라 다음과 같이 4개의 타입을 제공한다.
    -   **List:** 순서가 있으며 중복된 값들을 모으는 것을 허용하고 구성하는 값들(원소)을 변경할 수 있다.
    -   **Tuple:** 순서가 있으며 중복된 값들을 모으는 것을 허용하는데 구성하는 값들을 변경할 수 없다.
    -   **Dictionary:** key-value 형태로 값들을 저장해 관리한다.
    -   **Set:** 중복을 허용하지 않고 값들의 순서가 없다.
-   **원소, 성분, 요소, element**
    -   자료구조의 값들을 구성하는 개별 값들을 말한다.
    -   len(자료구조) 함수
        -   자료구조 내의 원소의 개수를 반환한다.

In [8]:
# 왜 모을까? 하나의 값이 여러가지 속성이 많은 경우가 있다. ex) 한 학생의 이름, 몇학년 몇반, 키 등등 
# 값을 모아야 제대로 값을 표현할 수 있다
# 다 모은 값에서 필요한 속성을 뽑아서 써야한다. 모여져 있는 값 중에 개별적으로 컨트롤 가능해야함 -- 식별값
# key - value 쌍으로 저장. 값에다 이름을 붙인다는 의미 (key는 중복될 수 없고, value는 중복가능)
# Dictionary 딕셔너리 (값의 의미가 중요하다) , 순서를 기억할 수 없음. 1번 이름 2번 학년 -- 이렇게 할 수 X


# ex) 3학년 1반의 10명의 영어 점수
# 값 자체가 다른게 아니고 영어 점수에 100 95 65 34 54 ... 
# 누구의 점수인지 알기 - 0, 1, 2, 3, .... 
# 학생들의 번호가 있음 --> `순번`으로 값을 나타냄. index 를 가지고 각각의 원소를 control 하는건 List 와 Tuple임 
# 순번은 중간이 비어있으면 안됨. 순서가 중요함 
# List 추가, 변경, 삭제 가능  # Tuple은 변경 불가능

# 로또 점수를 예측하고 싶다면, 
# 랜덤 숫자 생성 : 1 - 45 중 6개 뽑아줘
# 1이 나오면 다음에 1이 또 나올 수 없음. 중복이 될 수 없다
# Set 똑같은 값이 있을 수 없음. 중복이 안되게 하는 게 중요하다 --> 개별데이터 조회할 수 없음. 전체적으로 다 가지고 와야함.

# List (리스트)

-   값들을 순서대로 모아서 관리하는 자료구조. 원소(element)들을 순번을 이용해 식별한다.
    -   각각의 원소가 어떤 값인지를 index(순번)을 가지고 식별하기 때문에 **순서가 있고 그 순서가 매우 중요하다.** 즉 같은 값에 대해 순서가 바뀌면 안된다.
-   각각의 원소들은 index를 이용해 식별한다.
    -   index는 문자열과 마찮가지로 양수 index와 음수 index 두개가 각 값에 생긴다.
    -   양수 index는 앞에서부터 음수 index는 뒤에서 부터 값을 식별할 때 사용하는 것이 편리하다. #문자열과 같음 A 0 / -3, B 1 / -2, C 2 / -1
    -   **index를 가지고 각 원소값의 의미를 식별할 수 있으면 List나 Tuple을 사용한다.**
-   중복된 값들을 저장할 수 있다.
-   각 원소들의 데이터 타입은 달라도 상관없다.
    -   보통은 같은 타입의 데이터를 모은다.
-   리스트를 구성하는 **원소들을 변경할 수 있다.** (추가, 삭제, 변경이 가능)
    -   원소 변경 여부가 List와 Tuple의 차이이다.

## List 생성 구문

```python
[값, 값, 값, ..]
```

In [9]:
# l1 = [10, 20, 30, 40, 50]

In [16]:
# l1 변수를 입력하면 주소로 관리하고 값을 파악, 사용한다. --> 참조한다.
l1 = [10, 20, 30, 40, 50]
print(l1)

[10, 20, 30, 40, 50]

In [19]:
print(type(l1))
type(l1) == list

<class 'list'>

True

In [1]:
person1 = ["이순신", 30, "서울", 180.56, 79.21, "O형", "010-1111-1234", True] 
# 이런거 저장할 땐 원래 딕셔너리가 좋음 # 다른타입들을 저장할 수 있다 
person1

['이순신', 30, '서울', 180.56, 79.21, 'O형', '010-1111-1234', True]

In [ ]:
l2 = [100, 200, [300, 400], [500, [600, 700]]] 
#list (자료구조) 안에 원소로 list (자료구조)
#중첩 리스트

## Indexing과 Slicing을 이용한 원소(element) 조회 및 변경

### Indexing

-   하나의 원소를 조회하거나 변경할 때 사용
-   리스트\[index\]
    -   index의 원소를 조회
-   리스트\[index\] = 값
    -   index의 원소를 변경

In [21]:
l1[1]

20

In [22]:
l1[3] = 80

### Slicing

-   범위로 조회하거나 그 범위의 값들을 변경한다.
-   기본구문: **리스트\[ 시작 index : 종료 index : 간격\]**
    -   시작 index ~ (종료 index – 1)
    -   간격을 지정하면 간격만큼 index를 증/감한다. (생략 시 1이 기본 간격)
-   **0번 index 부터 조회 할 경우 시작 index는 생략가능**
    -   리스트 \[ : 5\] => 0 ~ 4 까지 조회
-   **마지막 index까지 (끝까지) 조회 할 경우 종료 index는 생략 가능**
    -   리스트\[2 : \] => 2번 index 에서 끝까지
-   **명시적으로 간격을 줄 경우**
    -   리스트\[ : : 3 \] => 0, 3, 6, 9.. index의 값 조회
    -   리스트\[1 : 9 : 2\] => 1, 3, 5, 7 index의 값 조회
-   **시작 index > 종료 index, 간격을 음수로 하면 역으로 반환한다.(Reverse)**
    -   리스트\[5: 1: -1\] => 5, 4, 3, 2 index의 값 조회
    -   리스트\[: : -1\] => 마지막 index ~ 0번 index 까지 의미. Reverse 한다.

#### slicing을 이용한 값 변경

-   slicing 을 이용할 경우 slicing된 원소 개수와 동일한 개수의 값들을 대입한다.
    -   `리스트[1:5] = 10,20,30,40` : index 1, 2, 3, 4의 값을 각각 10, 20, 30, 40 으로 변경

In [26]:
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,]
#indexing
l[0]
l[5]
l[-1]
l[9]

9

In [30]:
# 변경
print(l)
l[0] = 10_000
print(l)

[10000, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10000, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
l[-1] = 90_000
print(l)

[10000, 1, 2, 3, 4, 5, 6, 7, 8, 90000]

In [35]:
# slicing
print(l)
l[1:8] # 간격 1

[10000, 1, 2, 3, 4, 5, 6, 7, 8, 90000]

[1, 2, 3, 4, 5, 6, 7]

In [36]:
l[1:8:2]

[1, 3, 5, 7]

In [38]:
# slicing 변경
l[1:4] = 500, 600, 700 # index 개수와 값의 개수가 같아야한다. 
l

[10000, 500, 600, 700, 4, 5, 6, 7, 8, 90000]

## List 연산자

-   **리스트 + 리스트**
    -   두 리스트의 원소들을 합친 리스트를 반환한다.
-   **리스트 \* 정수**
    -   같은 리스트의 원소들을 정수번 합친 리스트를 반환한다.
-   **in, not in 연산자**
    -   값 in 리스트
        -   리스트의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in 리스트
        -   리스트의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(리스트)**
    -   리스트 내의 원소수를 반환.

In [42]:
a = [1, 2, 3]
b = [100, 200, 300, 400]
c = a + b #a 리스트와 b 리스트를 합침. 새로운 합친 내용이 만들어짐
print(c)
b

[1, 2, 3, 100, 200, 300, 400]

[100, 200, 300, 400]

In [44]:
d = a * 4
d

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [49]:
# 원소 in list 
2 not in c
404 not in c

True

## 중첩 리스트 (Nested List)

-   List가 원소로 List를 가지는 것을 말한다.
    -   List를 포함한 모든 자료구조 타입들도 다 값이므로 다른 자료구조의 원소로 들어갈 수 있다.
    -   List(자료구조)도 값이다. 그래서 다른 자료구조의 원소로 들어갈 수 있다.

## List 주요 메소드

| 메소드                       | 설명                                                                                 |
| :--------------------------- | ------------------------------------------------------------------------------------ |
| append(value)                | value를 추가한다.                                                                    |
| extend(List)                 | List의 원소들을 추가한다.                                                            |
| sort(\[reverse=False\])      | 원소들을 오름차순 정렬한다. reverse=True로 하면 내림차순정렬 한다.                   |
| insert(index, 삽입할값)      | 지정한 index에 '삽입할값'을 삽입한다.                                                |
| remove(삭제할값)             | '삭제할값' 값과 같은 원소를 삭제한다.                                                |
| index(찾을값\[, 시작index\]) | '찾을값'의 index를 반환한다.                                                         |
| pop(\[index\])               | index의 값을 반환하면서 삭제한다. index 생략하면 가장 마지막 값을 반환하며 삭제한다. |
| count(값)                    | '값'이 리스트의 원소로 몇개 있는지 반환한다.                                         |
| clear()                      | 리스트 안의 모든 원소들을 삭제한다.                                                  |

In [96]:
l = [10, 20, 30]
l.append(100) # 한개씩 추가
l

[10, 20, 30, 100]

In [97]:
l.extend([1, 2, 3, 4]) #여러개 값 추가
l

[10, 20, 30, 100, 1, 2, 3, 4]

In [98]:
l.insert(2, 5000) #삽입

In [99]:
l

[10, 20, 5000, 30, 100, 1, 2, 3, 4]

In [66]:
# 정렬 - sorted() 함수, sort() list 메소드
# sorted() 함수 - 모든 자료구조를 받아서 정렬한 결과를 list로 반환. (원본을 정렬하지 않는다)정렬한 결과를 새로 만들어서 준다.
# sort() 메소드 - list용. list자체를 정렬.

In [100]:
sorted(l) # 오름차순으로 정리 # l을 정리하는게 아니고, 정리한 값을 보여줌

[1, 2, 3, 4, 10, 20, 30, 100, 5000]

In [101]:
l

[10, 20, 5000, 30, 100, 1, 2, 3, 4]

In [102]:
result = sorted(l) 
result

[1, 2, 3, 4, 10, 20, 30, 100, 5000]

In [103]:
l

[10, 20, 5000, 30, 100, 1, 2, 3, 4]

In [104]:
sorted(l, reverse=True) #내림차순

[5000, 100, 30, 20, 10, 4, 3, 2, 1]

In [105]:
l.sort() # 오름차순

In [106]:
l

[1, 2, 3, 4, 10, 20, 30, 100, 5000]

In [107]:
l.sort(reverse=True)

In [108]:
l

[5000, 100, 30, 20, 10, 4, 3, 2, 1]

In [109]:
# 삭제 
## 값으로 삭제
l.remove(100)

In [110]:
l

[5000, 30, 20, 10, 4, 3, 2, 1]

In [111]:
# index로 삭제
l.pop(0)

5000

In [112]:
l

[30, 20, 10, 4, 3, 2, 1]

In [113]:
l.pop() # 마지막 index값을 삭제

1

In [114]:
l

[30, 20, 10, 4, 3, 2]

# Tuple (튜플)

-   List와 같이 순서대로 원소들을 관리한다. 단 저장된 원소를 변경할 수 없다.
-   Tuple 은 각 위치(Index) 마다 정해진 의미가 있고 그 값이 한번 설정되면 바뀌지 않는 경우에 사용한다.
    -   Tuple은 값의 변경되지 않으므로 안전하다. #좌표값 (위도, 경도)

## Tuple 생성

-   `(value, value, value, ...)`
-   소괄호를 생략할 수 있다.
-   원소가 하나인 Tuple 표현식
    -   `(value,)` 또는 `value,`
        -   값 뒤에 `,` 를 붙여준다. `,`를 붙이지 않으면 ( )가 연산자 우선순위 괄호가 된다.

In [119]:
t1 = (1, 2, 3, 4, 5)
t1

(1, 2, 3, 4, 5)

In [121]:
t2 = 10, 20, 30, 40, 50 # 괄호 생략
t2

(10, 20, 30, 40, 50)

In [123]:
t3 = (100) # 괄호 tuple 아니고 연산자 우선순위 정해진것
type(t3)

int

In [125]:
t3 = (100,) # 쉼표 붙여주면 tuple이 됨
type(t3)

tuple

In [128]:
t4 = 200, #정수 쓸 때 뒤에 쉼표 조심!
type(t4)

tuple

In [129]:
t5 = ("A", 100, 30.2, True) # 다른 타입 대입 가능
t5

('A', 100, 30.2, True)

## Indexing과 Slicing을 이용한 원소(element) 조회

-   리스트와 동일하다.
-   단 튜플은 조회만 가능하고 원소를 변경할 수 없다.

## Tuple 연산자

-   **tuple + tuple**
    -   두 tuple의 원소들을 합친 tuple을 반환한다.
-   **tuple \* 정수**
    -   같은 tuple의 원소들을 정수번 합친 tuple를 반환한다.
-   **in, not in 연산자**
    -   값 in tuple
        -   tuple의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in tuple
        -   tuple의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(tuple)**
    -   tuple의 원소 개수 반환

In [130]:
len(t1)

5

In [133]:
t1 + t2 # list와 같음. 새로운 tuple 만드는 것

(1, 2, 3, 4, 5, 10, 20, 30, 40, 50)

In [134]:
t1 * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [135]:
t6 = t1 + t2
t6

(1, 2, 3, 4, 5, 10, 20, 30, 40, 50)

In [136]:
1 in t1

True

## Tuple의 주요 메소드

| 메소드                        | 설명                                |
| :---------------------------- | ----------------------------------- |
| index(찾을값 \[, 시작index\]) | '찾을값'이 몇번 index인지 반환한다. |
| count(값)                     | 원소로 '값'이 몇개 있는지 반환한다. |

In [138]:
t10 = (100, 2, 500, 100, 20, 4, 2)
t10.index(100) #뒤에 있는 건 안찾아줌

0

In [140]:
t10.index(100,1) # 시작 index 정해주기

3

In [143]:
t10[::-1].index(100) # 뒤에서 부터 찾기

3

In [141]:
t10.count(100)

2

In [146]:
# 정렬 -> sorted() 함수
sorted(t10) #list 로 반환이 됨 (당연함, tuple은 원본을 못바꿈 )

[2, 2, 4, 20, 100, 100, 500]

# Dictionary

-   값을 키(key)-값(value) 쌍으로 묶어서 저장하는 자료구조이다.
    -   리스트나 튜플의 index의 역할을 하는 key를 직접 지정한다.
    -   서로 의미가 다른 값들을 하나로 묶을 때 그 값의 의미를 key로 가질 수 있는 dictionary를 사용한다.
        -   cf) 값의 의미가 같을 경우 List나 Tuple을 사용한다.
    -   key-value 쌍으로 묶은 데이터 한개를 **item 또는 entry**라고 한다.
    -   key는 중복을 허용하지 않고 value는 중복을 허용한다.

## Dictionary 생성

-   구문
    1. `{ 키 : 값, 키 : 값, 키 : 값 }`
    2. dict(key=value, key=value) 함수 이용
    -   키(key)는 불변(Immutable)의 값들만 사용 가능하다. (숫자, 문자열, 튜플) 일반적으로 문자열을 사용한다.
    -   dict() 함수를 사용할 경우 key는 변수로 정의한다

value를 넣고 key로 식별

key는 하나 (중복불가), value는 여러개 가능 (name)

In [4]:
d1 = {"이름": "홍길동", "나이":20, "결혼여부":False}
d1

{'이름': '홍길동', '나이': 20, '결혼여부': False}

In [5]:
d2 = {
    "이름": "홍길동", 
    "나이":20, 
    "결혼여부":False,
    "취미": ["영화감상", "독서", "음악감상"]
}
d2

{'이름': '홍길동', '나이': 20, '결혼여부': False, '취미': ['영화감상', '독서', '음악감상']}

In [6]:
d3 = dict(이름="홍길동", 나이=30, 주소="서울시 금천구", 취미=["게임","야구"])
d3

{'이름': '홍길동', '나이': 30, '주소': '서울시 금천구', '취미': ['게임', '야구']}

## Dictionary 원소 조회 및 변경

-   조회: index에 key값을 식별자로 지정한다.
    -   dictionary\[ key \]
    -   없는 키로 조회 시 KeyError 발생
-   변경
    -   dictionary\[ key \] = 값
    -   있는 key값에 값을 대입하면 변경이고 없는 key 일 경우는 새로운 item을 추가하는 것이다.

In [7]:
d2["이름"]

'홍길동'

In [8]:
d2["이름"] = "홍홍홍"
d2

{'이름': '홍홍홍', '나이': 20, '결혼여부': False, '취미': ['영화감상', '독서', '음악감상']}

In [9]:
d2["취미"]

['영화감상', '독서', '음악감상']

In [10]:
d2["취미"][1]

'독서'

In [11]:
d2["나이"] = 25
d2

{'이름': '홍홍홍', '나이': 25, '결혼여부': False, '취미': ['영화감상', '독서', '음악감상']}

In [12]:
d2["전화번호"] = "010-333-3333"
d2

{'이름': '홍홍홍',
 '나이': 25,
 '결혼여부': False,
 '취미': ['영화감상', '독서', '음악감상'],
 '전화번호': '010-333-3333'}

## Dictionary 연산자

-   **in, not in 연산자**
    -   값 in dictionary
        -   dictionary의 **Key**로 값이 **있으면** True, 없으면 False 반환
    -   값 not in dictionary
        -   dictionary의 **Key**로 값이 **없으면** True, 있으면 False 반환
-   **len(dictionary)**
    -   dictionary의 **Item의 개수** 반환

In [13]:
len(d2) # 이름, 나이, 결혼여부, 취미, 전화번호

5

In [14]:
"이름" in d2 # key값을 물어보기, value가 아님 / key 값이 중요하기 때문에

True

In [15]:
"홍길동" in d2

False

## Dictionary 주요 메소드

| 메소드               | 설명                                                                               |
| :------------------- | ---------------------------------------------------------------------------------- |
| get(key\[, 기본값\]) | key의 item의 값을 반환한다. 단 key가 없을 경우 None또는 기본값을 반환한다.         |
| pop(key)             | key의 item의 값을 반환하면서 dictionary에서 삭제한다. 없는 key일 경우 KeyError발생 |
| clear()              | dictionary의 모든 item들을 삭제한다.                                               |
| del dict\[key\]      | key의 item을 제거한다.                                                             |
| items()              | item의 key, value를 튜플로 묶어 모아 반환한다.                                     |
| keys()               | key값들만 모아 반환한다.                                                           |
| values()             | value값들만 모아 반환한다.                                                         |

In [16]:
# d1["키"]
d1.get("이름") # key로 value를 조회

'홍길동'

In [17]:
r = d1.get("키") # 없는 key로 조회하면 기본값을 반환. (default 기본값 : None)
r

In [18]:
r = d1.get("키")
r if r != None else "없는 key" # (None이 아니면 )

'없는 key'

In [19]:
# None -bool -> False
r if r else "없는 key"

'없는 key'

In [20]:
r if r is not None else "없는 key"

'없는 key'

In [21]:
r is None

True

In [22]:
r is not None

False

In [23]:
d1.get("몸무게")

In [24]:
d1.get("몸무게", 0) # key가 없으면 지정한 기본값 (0)을 반환. 0 대신 "0kg"으로도 됨

0

In [25]:
d2.get("취미",[])

['영화감상', '독서', '음악감상']

In [26]:
d1.get("취미",[]) # 없으면 없는 값을 내놓는 것

[]

In [27]:
d1["주소"] = "서울" #추가
d1

{'이름': '홍길동', '나이': 20, '결혼여부': False, '주소': '서울'}

In [28]:
# 삭제
del d1["주소"]
d1

{'이름': '홍길동', '나이': 20, '결혼여부': False}

In [40]:
# d1["나이"] = 22
d1.pop("나이") # 삭제하면서 삭제한 값을 알려줌

22

In [208]:
d1.clear()
d1

{}

In [209]:
# 키값들만 모아서 조회
keys = d2.keys()
print(keys)

dict_keys(['이름', '나이', '결혼여부', '취미', '전화번호'])

In [211]:
# 값들만 모아서 조회
values = d2.values()
values

dict_values(['홍홍홍', 25, False, ['영화감상', '독서', '음악감상'], '010-333-3333'])

In [216]:
# key-value 모아서 반환. item: (key, value)
items = d2.items()
items #각각의 key-value를 tuple 로 줌

dict_items([('이름', '홍홍홍'), ('나이', 25), ('결혼여부', False), ('취미', ['영화감상', '독서', '음악감상']), ('전화번호', '010-333-3333')])

# Set

-   Set은 중복되는 값을 허용하지 않고 순서를 신경 쓰지 않는다.
    -   원소를 식별할 수 있는 식별자가 없기 때문에 Set은 indexing과 slicing을 지원하지 않는다 # key value 조회 불가

## Set 생성

-   구문
    -   {값, 값, 값 }

> -   빈 Dictionary 만들기
>     -   info = {}
>     -   중괄호만 사용하면 빈 set이 아니라 `빈 dictionary`를 생성하는 것임.

In [218]:
s1 = {1, 2, 3, 4, 5, 6}
s1

{1, 2, 3, 4, 5, 6}

In [221]:
s2 = {1,1,1,1,1,3,2,2,2,2,3,3,4,2,1,5,}
s2

{1, 2, 3, 4, 5}

In [224]:
s1[0]
# TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [226]:
for v in s1:
    print(v) # v에 1, 2, 3, 4, 5, 6 을 찍음 # 6번 실행

1
2
3
4
5
6

## Set 연산자

-   **in, not in 연산자**
    -   값 in Set
        -   Set의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in Set
        -   Set의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(Set)**
    -   Set의 **원소의 개수** 반환
-   **[집합연산자](#Set의-집합연산-연산자-및-메소드)**

In [229]:
5 in s1

True

In [230]:
100 in s1

False

In [231]:
100 not in s1

True

In [232]:
len(s1)

6

## Set의 주요 메소드

| 메소드           | 설명                                   |
| ---------------- | -------------------------------------- |
| add(값)          | 집합에 값 추가                         |
| update(자료구조) | 자료구조내의 원소들을 모두 집합에 추가 |
| pop()            | 원소를 반환하고 Set에서 삭제한다.      |
| remove(값)       | 값을 찾아서 Set에서 삭제한다.          |

In [43]:
s1 = {1, 2, 3, 4, 5, 6}

In [44]:
s1.add(100)
s1

{1, 2, 3, 4, 5, 6, 100}

In [45]:
s1.add(3)
s1 # 중복된 값은 추가하지 않는다

{1, 2, 3, 4, 5, 6, 100}

In [46]:
s1.update([200, 300, 400, 400, 400, 100, 100, 100])
s1

{1, 2, 3, 4, 5, 6, 100, 200, 300, 400}

In [47]:
s1.remove(100) # 100을 찾아서 삭제한다
s1

{1, 2, 3, 4, 5, 6, 200, 300, 400}

In [48]:
s1.remove(200)
s1

{1, 2, 3, 4, 5, 6, 300, 400}

In [49]:
s1

{1, 2, 3, 4, 5, 6, 300, 400}

In [50]:
v = s1.pop()
v

1

In [51]:
s1

{2, 3, 4, 5, 6, 300, 400}

In [52]:
s1.clear()
s1

set()

In [53]:
type({}), type(set()) # 나열 tuple (type({}), type(set()))

(dict, set)

## Set의 집합연산 연산자 및 메소드

-   합집합
    -   집합A | 집합B
    -   집합A.union(집합B)
-   교집합
    -   집합A & 집합B
    -   집합A.intersection(집합B)
-   차집합
    -   집합A - 집합B
    -   집합A.difference(집합B)

In [254]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

In [255]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [256]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [257]:
s1 & s2

{3, 4}

In [258]:
s1.intersection(s2)

{3, 4}

In [259]:
s1 - s2

{1, 2}

In [260]:
s1.difference(s2)

{1, 2}

# 자료구조를 이용한 대입

-   리스트, 튜플, 셋의 원소들을 개별 변수에 대입한다. 어느 자료구조에 적용하느냐에 따라 **리스트 대입, 튜플 대입, 셋 대입** 이라고 한다. 이중 리스트대입이나 튜플대입은 많이 사용된다.
-   변수의 개수와 리스트 원소의 개수는 동일해야 한다.

In [270]:
# 딕셔너리 대입은 없음

In [262]:
a, b, c, d = 10, 20, 30, "가" # 튜플 대입

In [263]:
print(a, b, c, d)

10 20 30 가

In [269]:
x, y, z = [True, False, True]
print(x, y, z) # 리스트 이용해서 대입, 리스트 대입

True False True

In [268]:
l, m, n, o = {100, 200, 300, 400}
print(l, m, n, o) # set이용해서 대입, set 대입

200 100 400 300

In [272]:
l1 = [10, 20, 30]
x1, x2, x3 = l1
x1, x2

(10, 20)

# 자료구조 변환 함수

-   **list(자료구조)**
    -   대상 자료구조/Iterable을 List로 변환한다.
-   **tuple(자료구조)**
    -   대상 자료구조/Iterable을 Tuple로 변환
-   **set(자료구조)**
    -   대상 자료구조/Iterable을 Set으로 변환
    -   다른 자료구조의 원소 중 중복을 빼고 조회할 때 set()를 이용해 Set으로 변환한다.
-   Dictionary로 변환하는 함수는 없다.
    -   dict(key=value, ..) 는 딕셔너리 생성하는 함수이다.
-   변경 대상이 Dictionary 일 경우에는 key값들만 모아서 변환한다.

> -   **Iterable**
>     -   반복가능한 객체.
>     -   여러개의 값을 요청을 받을 때마다 하나씩 제공해주는 타입을 iterable 이라고 함.
>         -   Iterable이 제공하는 값을 반복문을 이용해 조회할 경우 **for in문**을 사용한다.
>     -   대표적으로 자료구조, 문자열 등이 있다.

In [273]:
l = [1, 2, 3, 4, 5, 6]
print(type(l))

<class 'list'>

In [274]:
t = tuple(l)
t

(1, 2, 3, 4, 5, 6)

In [275]:
l

[1, 2, 3, 4, 5, 6]

In [276]:
s = set(t)
s

{1, 2, 3, 4, 5, 6}

In [277]:
l2 = list(s)
l2

[1, 2, 3, 4, 5, 6]

In [280]:
l = [1, 1, 3, 5, 3, 5, 6, 100]
s = set(l) # set에 넣어서 중복된 값 알아서 걸러지게 
s

{1, 3, 5, 6, 100}

In [281]:
l_unique = list(s)
l_unique

[1, 3, 100, 5, 6]

In [286]:
d = {"이름":"홍길동", "나이":20, "주소":"서울"} # 딕셔너리 쓰면 key값만 쓴다
list(d)

['이름', '나이', '주소']

In [284]:
set(d)

{'나이', '이름', '주소'}

In [285]:
tuple(d)

('이름', '나이', '주소')

In [289]:
for v in l: # for 은 반복하라는 뜻  --> iterable type
    print(v)

1
1
3
5
3
5
6
100

In [290]:
for v in d:
    print(v)

이름
나이
주소

In [291]:
for v in "abcdef":
    print(v)

a
b
c
d
e
f

In [292]:
list("abcdefg")

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [293]:
tuple("가나다라마바사")

('가', '나', '다', '라', '마', '바', '사')

In [295]:
set("안녕안녕안녕하세요.")

{'.', '녕', '세', '안', '요', '하'}

In [296]:
s = "abcdefg"
l = list(s)
l

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [303]:
# 자료 구조의 문자열들을 한 문자열로 합치기
## "구분자".join(합칠대상_iterable)
"".join(l) # 중간에 아무것도 없이 합치기

'abcdefg'

In [301]:
",".join(l)

'a,b,c,d,e,f,g'

In [302]:
"-".join(l)

'a-b-c-d-e-f-g'

# TODO

In [ ]:
# 문제 1 ~ 7
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
# 위 리스트는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다.

In [64]:
# (1)  7번의 점수를 출력하세요
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
jumsu[6]

80

In [66]:
# (2)  1번부터 5번까지의 점수를 출력하세요.
jumsu[:5]

[100, 90, 100, 80, 70]

In [67]:
# (3)  4, 5, 6, 7번의 점수를 출력하세요.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

jumsu[3:7]
 #0번부터니까 7을 포함하지않은 6을 가져오는 것. 
#print(jumsu[3], jumsu[4], jumsu[5], jumsu[6])

[80, 70, 100, 80]

In [69]:
# (4) 짝수번째 점수를 출력하세요.
jumsu[1::2]
 #실제 index는 홀수번째것을 가져와야함

[90, 80, 100, 90, 85]

In [71]:
# (5) 홀수번째 점수를 출력하세요.
jumsu[::2]
 #실제 짝수번 index를 가져와야함

[100, 100, 70, 80, 95]

In [72]:
# (6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8] = 20
jumsu

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [74]:
# (7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
list(set(jumsu))
#앞에 list 바꿔야됨. 개별적으로 사용하기 위해 #set으로 하면 set {} 이게 되니까

[100, 70, 80, 20, 85, 90]

In [88]:
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

# (8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.

In [89]:
fruits.extend(["사과", "귤"])
fruits

['복숭아', '수박', '딸기', '사과', '귤']

In [90]:
fruits.append("토마토")
fruits

['복숭아', '수박', '딸기', '사과', '귤', '토마토']

In [91]:
# (9) fruits 리스트에서 "복숭아"를 제거하세요.

fruits.remove("복숭아")
fruits

['수박', '딸기', '사과', '귤', '토마토']

In [95]:
del fruits[-2]
fruits

['딸기', '사과', '토마토']

In [104]:
d ={"이름": "뫄뫄", "나이": 30, "email주소": "aaaa.@naver.com", "취미": ["수영", "책읽기"], "결혼유무": "미혼"}
print(d)

{'이름': '뫄뫄', '나이': 30, 'email주소': 'aaaa.@naver.com', '취미': ['수영', '책읽기'], '결혼유무': '미혼'}

In [105]:
info = d
print(info)

{'이름': '뫄뫄', '나이': 30, 'email주소': 'aaaa.@naver.com', '취미': ['수영', '책읽기'], '결혼유무': '미혼'}

In [106]:
print(info["이름"], info["email주소"])

뫄뫄 aaaa.@naver.com

In [107]:
print(info["취미"])

['수영', '책읽기']

In [108]:
print(info["취미"][0])

수영

In [109]:
info
info["몸무게"] = 40

In [78]:
# 문제 10 ~ 15
# (10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성.
# 취미는 2개 이상의 값을 넣는다..
d = {"이름": "뫄뫄" ,"나이": 30, "email주소": "gpendlr@naver.com", "취미": {"수영", "책읽기"}, "결혼유무" : "미혼"}
print(d) #취미 바꿔야한다면 list로 써야함[]

{'이름': '뫄뫄', '나이': 30, 'email주소': 'gpendlr@naver.com', '취미': {'수영', '책읽기'}, '결혼유무': '미혼'}

In [79]:
info = {
    "이름":"홍길동",
    "나이":30,
    "email주소":"abc.naver.com",
    "취미":["독서","게임"],
    "결혼유무":"미혼"
}
print(info)

{'이름': '홍길동', '나이': 30, 'email주소': 'abc.naver.com', '취미': ['독서', '게임'], '결혼유무': '미혼'}

In [80]:
info2 = dict(이름="홍길동", 나이=30, email주소="abc@naver.com", 취미=['영화감상','게임'], 결혼유무="미혼")
print(info2)

{'이름': '홍길동', '나이': 30, 'email주소': 'abc@naver.com', '취미': ['영화감상', '게임'], '결혼유무': '미혼'}

In [81]:
# (11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.

In [82]:
print(info['이름'], info['email주소'])

홍길동 abc.naver.com

In [83]:
print(info2['이름'])

홍길동

In [84]:
# (12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.

In [85]:
print(info['취미'][1])

게임

In [86]:
# (13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.

In [87]:
info
info['몸무게'] = 80 #없는 key에 대입 : 추가
info['키'] = 180.56
info

{'이름': '홍길동',
 '나이': 30,
 'email주소': 'abc.naver.com',
 '취미': ['독서', '게임'],
 '결혼유무': '미혼',
 '몸무게': 80,
 '키': 180.56}

In [88]:
# (14) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.

In [89]:
info['email주소'] = "gpendlr@naver.com"
info

{'이름': '홍길동',
 '나이': 30,
 'email주소': 'gpendlr@naver.com',
 '취미': ['독서', '게임'],
 '결혼유무': '미혼',
 '몸무게': 80,
 '키': 180.56}

In [90]:
# (15) 위 딕셔너리에서 나이를 제거하세요.

In [91]:
age = info.pop('나이')
print(info) #del info[나이]

{'이름': '홍길동', 'email주소': 'gpendlr@naver.com', '취미': ['독서', '게임'], '결혼유무': '미혼', '몸무게': 80, '키': 180.56}

In [92]:
age

30