# 제어문(Control flow statement)

기본적으로 프로그램은 순차구조를 가진다. 즉 작성한 순서대로 실행이 된다.  
이런 실행흐름을 다른 순서로 제어하기 위한 구문을 만드는 문법이 제어문이다.  
제어문은 **조건문** 과 **반복문** 두가지 문법이 있다.

-   **조건문**
    -   if 문
-   **반복문**
    -   while 문
    -   for in 문

# 조건문/분기문 (conditional statement)

-   프로그램이 명령문들을 실행하는 도중 특정 순서에서 **조건에 따라 흐름의 나눠져야 하는 경우 사용한다**
-   파이썬은 조건문으로 **if문**이 있다.

![조건문](images/ch03_01.png)

<center>입력 받은 a 의 값이 0인지 여부에 따라 두가지 흐름으로 분기된다.</center>

## 구문

-   조건이 True일 경우만 특정 구문들을 실행 하는 조건문.

```python
if 조건:    # 조건은 bool 표현식을 기술한다. 조건선언 다음에 : 으로 선언해서 코드블록을 구분한다.
    명령문1  # 조건이 True이면 실행할 구문들을 코드블럭에 기술한다.
    명령문2  # 코드 블록은 들여쓰기를 이용해 묶어준다. 보통 공백 4칸으로 들여쓰기를 한다.
    ...
```

> ### 파이썬의 코드블록(code block)
>
> 코드블록이란 **여러 명령문들을 묶어놓은 것을** 말한다. 코드블록으로 묶이면 실행시 같이 다 실행되고 실행이 안되면 같이 다 실행이 안된다.  
> 파이썬에서는 코드블록을 작성할 때 **들여쓰기를 이용해 묶어준다.**  
> 같은 칸만큼 들여쓰기를 한 명령문들이 같은 블록으로 묶인다.
> 들여쓰기는 관례적으로 **공백 4칸을** 사용한다. # 그렇지 않으면 indentationError가 남

> ### pass 키워드(예약어)
>
> -   빈 구현부를 만들때 사용
>     -   제어문, 함수의 body 코드블럭은 비울 수 없다. 반드시 명령문을 한개 이상 작성해야한다.
>     -   작성할 내용이 없을 경우 사용하는 키워드로 `pass`를 사용한다.

In [6]:
num = int(input(">>>정수:")) # 1
# num이 0이면 "영입니다."를 출력.
if num == 0: #선언부 
    #구현부
    print("0입니다.")
    print("Zero.")
    print("영")             #2
print('종료')               #3

>>>정수: 3

종료

In [9]:
num = 0
if num == 0:print("영입니다.") #구현부 하나일땐 `:`에 붙여서 써도 됨
else: print("영아님")

영입니다.

-   **조건이 True일 때 False일때 실행 구문이 분기되는 조건문.**

```python
if 조건:
    명령문1_1 # 조건이 True일 경우 실행할 구문들
    명령문1_2
    ...
else:
    명령문2_1 # 조건이 False일 경우 실행할 구문들
    명령문2_2
    ...
```

In [5]:
num = int(input(">>>정수"))
if num == 0: #선언부 # if 뒤에 bool type 만 넣을 수 있음
    #구현부
    print("영입니다.")
    print("This is zero.")
else:
    print(f"입력받은 숫자: {num}")

>>>정수 2

입력받은 숫자: 2

In [12]:
num = int(input(">>>정수"))
if num == 0:
    pass
else:
    pass # pass 는 자리만 채워넣는 것

>>>정수 0

-   **조건이 여러 개인 조건문.**

```python
if 조건1:
    명령문1_1  # 조건1이 True일 경우 실행할 코드블록.
    명령문1_2
    ...
elif 조건2:    # 다음 조건으로 앞의 조건들이 모드 False일 경우 비교한다.
    명령문2_1  # 조건2가 True일 경우 실행할 코드블록.
    명령문2_2
    ...
elif 조건3 :
    명령문3_1
    명령문3_2
    ...
else:         # 위의 모든 조건이 False일 경우 실행하는 코드블록. 생략 가능하다.
    명령문4
```

In [ ]:
# elif = else if

In [13]:
num = int(input(">>>정수"))
if num == 0:
    print("영입니다.")
elif num > 0:
    print("양수입니다.")
elif num < 0:
    print("음수입니다.")

>>>정수 0

영입니다.

In [17]:
num = int(input(">>>정수"))
if num == 0:
    print("영입니다.")
elif num > 0:
    print("양수입니다.")
else:
    print("음수입니다.")
print('종료')

>>>정수 -888

음수입니다.
종료

# 반복문 (Loop statement)

특정 구문들을 반복해서 실행할 때 사용한다. 동일한 코드를 여러번 반복하거나 값이 일정하게 변하는 코드를 반복할 경우 사용한다.  
단순 반복을 처리하는 **while문**과 iterable객체가 제공하는 값들을 반복 조회하는 **for in문** 두가지 문법이 있다.

![반복문](images/ch03_02.png)

<center>count의 값이 limit의 값보다 크거나 같을때 까지 count의 값을 1증가 후 출력하는 구문을 반복한다. </center>

In [12]:
# limit의 값이 -5가 된다면 false로 내려감
# limit에 5를 넣었다면 count가 반복해서 +1 , 비교 .. 반복
# count = count + 1 이 없다면 무한반복. 조건을 바꿔주는 코드가 들어가야함

## while문

-   조건이 True인 동안 구문을 반복해서 실행한다.

### 구문

```python
while 조건:       # 조건은 bool 표현식을 기술한다. 조건선언 다음에 : 으로 선언해서 코드블록을 구분한다
    반복할 구문1  # 반복할 구문을 코드블록으로 작성한다.
    반복할 구문2
    ...
```

In [3]:
count = 0
limit = 10
while count < limit:
    # count = count + 1
    count += 1 #조건을 변경할 수 있는 식이 필요함 - 증감식
    print(f"{count}.안녕하세요.")    # 열번째까지 true 고 그 뒤로는 False라 종료
print("종료")

1.안녕하세요.
2.안녕하세요.
3.안녕하세요.
4.안녕하세요.
5.안녕하세요.
6.안녕하세요.
7.안녕하세요.
8.안녕하세요.
9.안녕하세요.
10.안녕하세요.
종료

## for in 문

-   Iterable 객체를 순환조회하는 구문
    -   for in문은 Iterable 타입의 객체가 가지고 있는 값들을 하나씩 처리하는 구문을 작성할 때 사용한다. #일괄처리. 실행은 하나씩 함

> -   **Iterable**
>     -   반복가능한 객체. 반복문(for in)을 이용해 일련의 값들을 반복적으로 각각 제공하는 객체를 말한다.
>     -   대표적으로 List, Tuple, Dictionary, Set, 문자열 등이 있다.

### 구문

```python
for 변수 in Iterable: # for in 선언후 : 으로 선언부와 구현부를 나눈다.
    반복구문          # Iterable이 반복시 제공하는 값을 가지는 "변수"를 이용해 값들을 처리하는 구문을 코드블록으로 작성한다.
    반복구문
```

In [19]:
# 반복구문은 들여쓰기. for in 문의 코드

In [22]:
l = [10, 100, 20, 30, 500]
# l의 모든 원소들을 출력 (Iterable(반복대상): l, 일괄처리; 출력
for value in l:
    print(value, end="\t")

10	100	20	30	500

In [28]:
# l의 모든 값들을 두배로 늘리기. (iterable: l, 일괄처리: 두배))
result = [] # 빈 리스트 만들어두기 
for value in l:
    # print(value * 2)
    result.append(value * 2)

In [29]:
print(l)
print(result)

[10, 100, 20, 30, 500]
[20, 200, 40, 60, 1000]

In [34]:
# 3의 배수를 찾기 (Iterable = l, 일괄처리: 3의 배수인지 확인)
for value in l:
    if value % 3 == 0:
        print(value) # 나머지 연산, 나머지가 0이면 3의 배수이니까
    else:
        print(f"{value}는 3의 배수가 아님.")

10는 3의 배수가 아님.
100는 3의 배수가 아님.
20는 3의 배수가 아님.
30
500는 3의 배수가 아님.

In [1]:
s = {10, 20, 30} #set 도 iterable type
for v in s:
    print(v)

10
20
30

In [38]:
t = 1, 2, 3, 4, 5 # tuple 도 iterable type
for v in t:
    print(v)

1
2
3
4
5

In [42]:
# dict
d = {"a":10, "b":20, "c":30}
for key in d:
    print(key)

a
b
c

In [4]:
# dict
d = {"a":10, "b":20, "c":30}
for key in d:
    print(key, d[key]) # []value 조회

a 10
b 20
c 30

In [45]:
# d[key]
v = "a"
v

'a'

In [46]:
d.values()

dict_values([10, 20, 30])

In [47]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [48]:
for v in d.values():
    print(v)

10
20
30

In [50]:
d.items()
# dict_items([('a', 10), ('b', 20), ('c', 30)]) [(key, value)]

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [53]:
v = ("a", 10) # tuple 대입

In [52]:
k, v = ("a", 10)
print(k, v)

a 10

In [60]:
for key, value in d.items(): # 원소가 자료구조일 때 원소 개수만큼 변수를 선언할 수 있다. 
    #튜플이나 리스트로 묶여져 있어야함
    print(key, value)

a 10
b 20
c 30

In [61]:
# 문자열
for char in "가나다abcde1234":
    print(char, end=", ")

가, 나, 다, a, b, c, d, e, 1, 2, 3, 4,

In [5]:
l2 = [[1,2], [3,4],[5,6]]
for v in l2:
    print(v)

[1, 2]
[3, 4]
[5, 6]

In [7]:
l2 = [[1,2], [3,4],[5,6]]
for v1, v2 in l2:
    print(v1, v2)

1 2
3 4
5 6

## continue와 break를 이용한 반복문 제어

-   **continue**
    -   실행 블록에서 continue가 실행되면 현재 반복을 중단하고 다음 반복을 진행한다.
    -   특정 조건에서 처리를 멈추고 다음 처리를 반복할 때 사용한다.
-   **break**
    -   반복문 실행을 중단한다.
    -   특정 조건에서 반복문을 중간에 중지할때 사용한다.
-   continue와 break는 특정 조건에서 실행되야 하는 경우가 대부분이므로 if문 안에 작성한다.

In [9]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 짝수만 출력 
for v in l:
    #if v % 2 == 0:
    if v % 2 != 0: # 2의 배수가 아니라면
        continue # 2의 배수가 아니면 계속 실행해라. 그래서 2의 배수가 아닌게 다 나오니 끝남.
    print(v)

2
4
6
8
10

In [10]:
# 만약에 7이면 반복을 종료 
for v in l:
    if v == 7:
        #continue 하면 7만 빼고 출력
         break # 7 전에 브레이크 걸어서 출력, 반복문 자체를 끝내버림
    print(v)
print('종료')

1
2
3
4
5
6
종료

In [10]:
import random
# -100 ~ 100 범위에 정수 난수를 생성
# 생성된 정수 중 양수는 `pos_result` 리스트에 음수는 `neg_result` 리스트에 저장
# 0이 생성되면 종료

# 자료구조가 아님. for in 문을 못 씀
# while문을 써야함 
# 계속 반복해서 0이 되면 종료

pos_result = []
neg_result = []
num = random.randint(-100, 100)
while num != 0:
    if num > 0:
        pos_result.append(num)
    else:
        neg_result.append(num)
    num = random.randint(-100, 100) # else 바깥에서 한 번 더 실행
print('종료')

종료

In [16]:
pos_result = []
neg_result = []
# := (왈러스 연산자 - 대입연산자) - if / while 조건절에서 쓰임. / :=대입해서 바로 num을 사용할 수 있게 함
# 값을 변수에 대입하고 반환 1. 값을 변수에 대입, 2. 대입한 값을 다시 반환 
# num = random.randint(-100, 100)
# while num != 0: 
# 위 아래 이거 두개 합침 
# while (num :=  random.randint(-100, 100)) != 0: () 묶어도 되고 안묶어도 됨
while num :=  random.randint(-100, 100) != 0:
    if num > 0:
        pos_result.append(num)
    else:
        neg_result.append(num)
print('종료')

종료

In [72]:
pos_result = []
neg_result = []

while True:
    num = random.randint(-100, 100)
    if num > 0:
        pos_result.append(num)
    elif num < 0:
        neg_result.append(num)
    else: #==0
        break

In [73]:
print(pos_result)

[9, 47, 1, 62, 6, 83, 44, 10, 71, 71, 85, 90, 24, 36, 51, 43, 41, 37, 70, 26, 51, 74, 28, 3, 46, 56, 100, 99, 9, 69, 50, 10, 4, 64, 100, 30, 47, 100, 8, 48, 69, 79, 91, 30, 31, 56, 2, 45, 51, 21, 89, 23, 40, 92, 29, 15, 17, 43, 64, 86, 86, 43, 54, 18, 57, 10, 53, 57, 74, 34, 63, 36, 61, 74, 16, 79, 84, 96, 32, 84, 43, 76, 7, 53, 78, 82, 98, 1, 17, 21, 41, 50, 100, 100, 86, 8, 79, 12, 20, 26, 19, 39, 8, 53, 28, 68, 55, 68, 72, 14, 76, 71, 32, 38, 48, 1, 3, 21, 43, 95, 73, 76, 72, 35, 35, 22, 13, 75, 49, 64, 9, 49, 72, 59, 40, 71, 13, 15, 79, 69]

In [74]:
print(neg_result)

[-13, -4, -95, -27, -88, -70, -61, -55, -55, -72, -21, -33, -76, -64, -69, -44, -52, -83, -91, -13, -33, -47, -41, -9, -32, -91, -24, -23, -18, -50, -90, -37, -24, -47, -55, -26, -57, -98, -12, -42, -27, -1, -38, -8, -97, -55, -18, -61, -54, -66, -1, -22, -43, -97, -40, -71, -89, -89, -97, -50, -49, -67, -93, -13, -89, -66, -57, -3, -36, -17, -65, -9, -62, -65, -50, -66, -33, -9, -93, -65, -34, -10, -52, -52, -12, -38, -95, -40, -23, -12, -23, -48, -99, -75, -70, -75, -58, -5, -8, -29, -51, -49, -66, -70, -68, -76, -46, -24, -44, -57, -64, -45, -79, -80, -48, -25, -47, -96, -42, -46, -85, -51, -98, -33, -53, -93, -35, -67, -60, -64, -12, -98, -9, -89, -68, -60, -19, -21, -87, -64, -34, -71, -94, -96, -63]

## for in 문 연관 내장 함수

### range()

-   일정한 간격의 연속된 정수를 제공하는 반복가능 객체 생성한다.
-   구문
    -   `range([시작값], 멈춤값, [증감값])`
        -   시작값, 멈춤값, 증감값 모두 정수만 가능하다.
        -   시작값 > 멈춤값 이고 증감값이 음수이면 내림차순으로 값을 제공한다.
        1. 전달값이 **1개: 멈춤값**.
            - 0 ~ (멈춤값-1)까지 1씩 증가하는 정수를 제공
        2. 전달값이 **2개: 시작값, 멈춤값**.
            - 시작값 ~ (멈춤값-1) 까지 1씩 증가하는 정수 제공
        3. 전달값이 **3개: 시작값, 멈춤값, 증감값(간격)**.
            - 시작값 ~ (멈춤값-1)까지 증감값만큼 증가하는 정수를 제공.

In [2]:
print(1)  # 1\n
print(2)

1
2

In [23]:
# in 다음에 온다

In [24]:
range(10, 20)

range(10, 20)

In [4]:
for v in range(10, 20):
    print(v, end="\t") # 10부터 20앞까지, 간격 1     # 10\t

10,11,12,13,14,15,16,17,18,19,

In [8]:
print(10, 20, 30, 40, 50, sep=",")

10,20,30,40,50

In [6]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [5]:
print("안녕", end="===========")

안녕===========

In [28]:
for v in range(10, 30, 3): # (시작값, 종료값, 간격)
    print(v, end="\t")

10	13	16	19	22	25	28

In [32]:
for v in range(20):
    print(v, end="\t") # 19까지 나오는데 시작이 0부터. 20은 종료값만 넣은 것, 시작은 생략한 것. 간격은 1

0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19

In [34]:
# range(): iterable type
l = list(range(1, 11))
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
l = set(range(-10, 10))
l

{-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [36]:
l = tuple(range(5, 15))
l

(5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [37]:
# reverse 
list(range(10, -10, -2))

[10, 8, 6, 4, 2, 0, -2, -4, -6, -8]

In [42]:
# 안녕을 10번 출력 
for _ in range(10): #for 다음에 v 대신, `_` uderscore를 넣음. 왜냐면 나중에 사용하지 않는 v가 무슨값인지 헷갈리니까
    print("hi")

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

## enumerate() - 몇번째 반복인지 알려줌

-   구문
    -   `enumerate(Iterable,  [, start=정수])`
        -   현재 몇번째 값을 제공하는 지(현재 몇번째 반복인지)를 나타내는 **index**와 제공하는 **원소**를 tuple로 묶어서 반환
        -   Iterable
            -   값을 제공할 Iterable객체
        -   start: 정수
            -   index 시작 값. 생략하면 0부터 시작한다.

In [47]:
l = list(range(10, 20))
l

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [48]:
for v in l:
    print(v)

10
11
12
13
14
15
16
17
18
19

In [11]:
for v in enumerate(l): #0이라는 start값을 가지고 있음
    print(v) #튜플 반환 # (index, 값) # list의 index가 아니라, 몇번째 반복인지의 index

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

In [12]:
l = list(range(10, 20))
for idx, value in enumerate(l): #튜플대입으로 받아옴
    print(idx, value)

0 10
1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19

In [14]:
l = range(10) #리스트 안쓰고, 숫자만써서 범위 정할수도 있다
for idx, value in enumerate(l):
    print(idx, value)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

In [58]:
# 10_000번 반복 처리 -> 중간 결과를 1_000에 한번씩 출력
for idx, value in enumerate(range(10_000), start=1):
    # 작업
    # 중간 결과 출력 - 
    if idx % 1000 == 0:
        print(f"{idx} - 중간결과")

1000 - 중간결과
2000 - 중간결과
3000 - 중간결과
4000 - 중간결과
5000 - 중간결과
6000 - 중간결과
7000 - 중간결과
8000 - 중간결과
9000 - 중간결과
10000 - 중간결과

## zip()

-   여러 개의 Iterable 객체를 받아 반복시 같은 index의 값끼리 튜플로 묶어 반환한다.
-   구문
    -   `zip(Iterable1, Iterable2, Iterable3 [, .......])`
        -   Iterable 2개이상.전달한다.
-   각 Iterable이 제공하는 원소의 개수가가 다를 경우 가장 적은 것의 개수에 맞춰 반복한다.

In [60]:
name_list = ['이순신', '유관순', '강감찬']
age_list = [30, 40, 50]
address_list = ['서울', '인천', '부산']
# 같은 index 가 같은 사람의 데이터
# 개별 사람의 데이터를 출력 (이순신, 30, 서울)
for v in zip (name_list, age_list, address_list):
    print(v)

('이순신', 30, '서울')
('유관순', 40, '인천')
('강감찬', 50, '부산')

In [16]:
name_list = ['이순신', '유관순', '강감찬']
age_list = [30, 40, 50, 60, 70] #개수 안맞아도 제일 적은 거에 맞춰서 가져옴
address_list = ['서울', '인천', '부산']
# 같은 index 가 같은 사람의 데이터
# 개별 사람의 데이터를 출력 (이순신, 30, 서울)
for v in zip (name_list, age_list, address_list):
    print(v)

('이순신', 30, '서울')
('유관순', 40, '인천')
('강감찬', 50, '부산')

In [61]:
for name, age, address in zip (name_list, age_list, address_list):
    print(name, age, address)

이순신 30 서울
유관순 40 인천
강감찬 50 부산

# 컴프리헨션(Comprehension)

-   기존 Iterable의 원소들을 이용해서 새로운 자료구조(List, Dictionary, Set)를 생성하는 구문.
    -   기존 Iterable의 **원소들을 처리한 결과**나 **특정 조건이 True인 값들을** 새로운 자료구조에 넣을때 사용.
    -   결과를 넣을 새로운 자료구조 타입에 따라 다음 세가지가 있다.
        -   리스트 컴프리헨션
        -   딕셔너리 컴프리헨션
        -   셋 컴프리헨션 #컴프리헨션 가지고 리스트를 만들거냐, 딕셔너리를 만들거냐, 셋을 만들거냐.. 
- **튜플 컴프리헨션**은 tuple() 함수를 이용해서 만든다.
-   **딕셔너리 컴프리헨션**과 **셋 컴프리헨션**은 파이썬 3 에 새로 추가되었다.
-   컴프리헨션 문법은 iterable 을 타입을 넣는 곳에서는 다 적용할 수있다.

In [75]:
# 반복문과 제어문의 합

In [24]:
# filtering
l = [1, 2, 3, 4, 5, 6]
result = []
for v in l:
    if v % 2 == 0: # 2의 배수 조건문
        result.append(v)
result

[2, 4, 6]

In [25]:
[v for v in l if v % 2 == 0]

[2, 4, 6]

In [26]:
l = [1, 2, 3, 4, 5, 6]
[(v, v+10, v*2) for v in l if v % 2 == 0] v 맨 앞 값을 여러가지로 표현 가능

SyntaxError: invalid syntax (1998439441.py, line 2)

In [106]:
# filtering을 컴프리헨션 문법으로 구현 
l = [1, 2, 3, 4, 5, 6]
result4 = [ v for v in l if v % 2 == 0] # for 변수 in iterable + if문  # 두번째 v 에서 if문 체크해서 True인 것만 첫번째 v에 넣음
result4

[2, 4, 6]

In [107]:
result5 = [ v*10 for v in l if v % 2 == 0]
result5

[20, 40, 60]

In [86]:
# mapping
l = [1, 2, 3, 4, 5, 6]
result2 = []
for v in l:
    result2.append(v * 2)
result2 # 자료구조가 여러개니까 리스트에 넣어줌.

[2, 4, 6, 8, 10, 12]

In [ ]:
l = [1, 2, 3, 4, 5, 6]

In [84]:
# mapping 을 컴프리헨션 문법으로 구현
result3 = [ v for v in l ] # l의 숫자가 두번째 v에 넣고 첫번째 v로 나옴 
print(result3)

[1, 2, 3, 4, 5, 6]

In [87]:
# mapping 을 컴프리헨션 문법으로 구현
result3 = [ v*2 for v in l ] # l의 숫자가 두번째 v에 넣고 첫번째 v를 계산해서 나옴 
print(result3)

[2, 4, 6, 8, 10, 12]

In [ ]:
# 컴프리헨션 문법 v*2 for v in l
# []안에 넣으면 리스트

In [88]:
{v*2 for v in l} #set 컴프리헨션

{2, 4, 6, 8, 10, 12}

In [95]:
{v:v*2 for v in l} #dictionary 컴프리헨션

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12}

In [92]:
{f"value{v}": v*2 for v in l} #dictionary 컴프리헨션

{'value1': 2,
 'value2': 4,
 'value3': 6,
 'value4': 8,
 'value5': 10,
 'value6': 12}

In [96]:
(v*2 for v in l) # 튜플 컴프리헨션 은 아니고, generator 생성

In [98]:
tuple(v*2 for v in l) #튜플 컴프리헨션 만드는 법, 앞에 튜플을 붙인다

(2, 4, 6, 8, 10, 12)

In [112]:
l2 = [
    [10, 5, 7],
    [3, 50, 4],
] #list 안에 list
result = [] # l2 원소 중 홀수만 저장. 
for l in l2:
    for v in l : #list 안에 list
        if v % 2 != 0:
            result.append(v)
result

[5, 7, 3]

In [116]:
l2 = [
    [10, 5, 7],
    [3, 50, 4],
] 
result2 = [ v for l in l2 for v in l if v % 2 != 0 ] 
# l in l2 
# for v in l 
# if v % 2 !=0
# 맨 앞의 v로 감
result2

[5, 7, 3]

# TODO

In [28]:
# (1) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를 5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.
user_ID= input("ID") # input 넣기 **
if len(user_ID) >= 5:
    print("사용할 수 있습니다.")
else:
    print("사용할 수 없는 ID입니다.")

ID jinseul123

사용할 수 있습니다.

In [30]:
user_ID= input("ID") # input 넣기 **
#if len(user_ID) >= 5:
if user_ID: # 입력했으면 # "":False, "a":True #글씨가 있으면 트루
    print("사용할 수 있습니다.")
else:
    print("사용할 수 없는 ID입니다.")

ID ㅁ

사용할 수 있습니다.

In [32]:
city = input("도시이름:")

if city == ("서울"):
    print("특별시")
elif city == "인천" or city == "부산" or city == "광주":
    print("광역시")
else:
    print("특별시나 광역시가 아닙니다.")

도시이름: 서울

특별시

In [39]:
city = input("도시이름:")
city = city.strip()
if city == ("서울"):
    print("특별시")
elif city in ["인천", "부산", "광주", "대구", "대전", "울산"]: # == 대신 in을 써야함
    # == 쓰니까 광주 입력하고 특별시나 광역시가 아닙니다가 나옴. 
    # 리스트나 튜플 둘 다 써도 됨
    print("광역시")
else:
    print("특별시나 광역시가 아닙니다.")

도시이름: 광주

광역시

In [46]:
# (2) 사용자로부터 우리나라 도시명을 입력 받은 뒤 
#입력받은 도시명이 서울이면 "특별시"를 인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.
city_name = "서울"
city = (city_name)
if city == ("서울"):
    print(city + "특별시")
elif city in ("인천", "부산", "광주", "대구", "대전", "울산"): #==대신 in을 써야함
    print(city + "광역시")
else:
    print("특별시나 광역시가 아닙니다.")

서울특별시

In [41]:
# (3-4)
# (3) 아래 리스트의 평균을 구하시오.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
average = sum(jumsu)/len(jumsu)
a = average
print(a)

89.0

In [42]:
jumsu_sum = 0
for v in jumsu:
    jumsu_sum = jumsu_sum + v # jumsu += v
print("총점:", jumsu_sum)
jumsu_avg = jumsu_sum / len(jumsu)
print("평균:", jumsu_avg)

총점: 890
평균: 89.0

In [45]:
# 숫자를 원소로 가지는 iterable 의 합계 구하기
sum(jumsu)

890

In [145]:
# (4) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
if jumsu > 89.0:
    print("pass")
else:
    print("fail")

TypeError: '>' not supported between instances of 'list' and 'float'

In [50]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
for idx, v in enumerate(jumsu): #enumerate 가지고 순번을 아는것
    if v >= jumsu_avg:
        print(f"{idx}번 - pass")
    else:
        print(f"{idx}번 - fail")

0번 - pass
1번 - pass
2번 - pass
3번 - fail
4번 - fail
5번 - pass
6번 - fail
7번 - pass
8번 - pass
9번 - fail

In [51]:
# (5) 아래 리스트 값들 중 최대값을 조회해 출력하시오.
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]

max_value = jumsu[0] # 최대값을 저장할 변수
for v in jumsu: # 가져온 v랑 [0]랑 비교  # max_value와 list의 원소 하나하나의 크기를 비교 #원소가 크면 max_value를 변경.
    if max_value < v:
        max_value = v
print("최대값:", max_value)

최대값: 95

In [52]:
max(jumsu)

95

In [53]:
min(jumsu)

55

In [54]:
# (6) 사용자로부터 정수를 입력받아 그 정수 단의 구구단을 출력하시오.
# ex)
# 단을 입력하시오 : 2
# 2 x 1 = 2
# 2 x 2 = 4
# ..
# 2 x 9 = 18

# 컴프리헨션

dan = int(input("단을 입력하시오: "))
#print(dan)
for i in range(1, 10):
    print(f"{dan} X {i} = {dan * i}")

단을 입력하시오:  2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [58]:
# 구구단 표
# 가로로 실행되어야함

for x in range (1, 10):
    for dan in range (2, 10): #단 입력 # 10 은 9까지를 의미 
        print(f"{dan} X {x} = {dan * x}", end='\t') 
    print() #엔터만 찍는거

# {dan * x} -> x 고정, dan이 변함 가로로 진행
# 그리고 아래줄은 x 변경, 가로로 진행

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [59]:
# (7) 다음 리스트의 원소들에 10배한 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]

print([(v, v*10) for v in lst])

[(10, 100), (30, 300), (70, 700), (5, 50), (5, 50), (120, 1200), (700, 7000), (1, 10), (35, 350), (35, 350)]

In [61]:
# (8) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
result=[v for v in lst2 if v % 3 == 0]
list(result)

print([v for v in lst2 if v % 3 == 0])

[3, 33, 21, 33, 60, 120]

In [62]:
# (9)) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_names = [
    "test.txt",
    "a.exe",
    "jupyter.bat",
    "function.exe",
    "b.exe",
    "cat.jpg",
    "dog.png",
    "run.exe",
    "i.dll",
]
result=[ v for v in file_names if v.endswith(".exe")]
print(result)


print([file_names for file_names in file_names if file_names.endswith(".exe")])

['a.exe', 'function.exe', 'b.exe', 'run.exe']
['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [63]:
"a.exe".endswith(".exe")

True

In [70]:
# (10) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_names = [
    "mystroy.txt",
    "a.exe",
    "jupyter.bat",
    "function.exe",
    "b.exe",
    "cat.jpg",
    "dog.png",
    "run.exe",
    "i.dll",
]
result=[ v for v in file_names if len(v)>=10]
print(result)

[file_name for file_name in file_names if len(file_names) >= 10]
[(file_name, len(file_name)) for file_name in file_names if len(file_names) >= 10)]

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (234598698.py, line 17)