In [3]:
def __init__(self, name, age):
    pass

In [10]:
class Person1:
    def __init__(self, name, age, address):
        self.name = name
        self.age = age
        self.address = address

In [14]:
p = Person1("홍길동", 20, "서울시")

print(p.name, p.age, p.address) # p를 정의해줘야함.

홍길동 20 서울시

In [17]:
p2 = Person1("이순신", 30, "서울시 금천구")
print(p2.name, p2.age, p2.address)

이순신 30 서울시 금천구

In [18]:
p2.__dict__

{'name': '이순신', 'age': 30, 'address': '서울시 금천구'}

In [19]:
# instance method

def set_info(self, name, age, address):
    self.attribute

In [23]:
class Person2:
    def __init__(self, name, age, address):
        self.name = name
        self.age = age
        self.address = address
    def get_info(self):
        return f"이름: {self.name}, 나이: {self.age}, 주소:{self.address}"

In [26]:
p1 = Person2("홍길동", 20, "서울")
p2 = Person2("이순신", 30, "인천")

In [27]:
info1 = p1.get_info()
info2 = p2.get_info()

In [28]:
print(info1)

이름: 홍길동, 나이: 20, 주소:서울

In [29]:
print(info2)

이름: 이순신, 나이: 30, 주소:인천

In [31]:
class Person2:
    def __init__(self, name, age, address):
        self.name = name
        self.age = age
        self.address = address
    def get_info(self):
        return f"이름: {self.name}, 나이: {self.age}, 주소: {self.address}"

In [32]:
p1 = Person2("홍길동", 20, "서울")
p2 = Person2("이순신", 30, "인천")

In [35]:
info1 = p1.get_info()
info2 = p2.get_info()

In [36]:
print(info1)

이름: 홍길동, 나이: 20, 주소: 서울

In [37]:
print(info2)

이름: 이순신, 나이: 30, 주소: 인천

In [39]:
class Person:
    job_list = ["학생", "직장인", "자영업"]

    def add_job(job):
        if job not in job_list:
            job_list.append(job)
        else:
            print(f"{job}은 이미 list에 있습니다.")

    def __init__(self, name, age, job):
        self.name = name
        self.age = age
        self.job = job

    def __str___(self):
        return f"이름: {self.name}, 나이: {self.age}, 직업: {self.job}"

In [40]:
Person.job_list

['학생', '직장인', '자영업']

In [41]:
class Person:
    job_list = ["학생", "직장인", "자영업"]

    @classmethod
    def add_job(clazz, job):
        if job not in clazz.job_list:
            clazz.job_list.append(job)
        else:
            print(f"{job}은 이미 list에 있습니다.")

    def __init__(self, name, age, job):
        self.name = name
        self.age = age
        self.job = job

    def __str___(self):
        return f"이름: {self.name}, 나이: {self.age}, 직업: {self.job}"

In [42]:
Person.add_job("사업")

In [ ]:
Person.job